.quote {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.quote-paper {
  width: 850px;
  min-height: 600px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.quote-paper h2 {
  color: #00BCD4;
}

.quote-paper-item {
  align-self: center;
}

.btn-quote {
  margin-top: 40px;
  margin-bottom: 40px;
}

.currency,
.quote-amounts {
  margin-top: 20px;
}

.quote-paper-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.quote-icon {
  color: #00BCD4;
  margin-right: 15px;
  font-size: 30px;
  position: relative;
  top: 32px;
}

.quote-slider {
  width: 100%;
}

.quote-slider-item {
  width: 80%;
}

.quote-slider-item-cuotas {
  width: 75%;
}

.quote-text {
  position: relative;
  top: 20px;
  color: #FF4081;
}

.text-center {
  position: relative;
  top: -14px;
}

.slider-hidden {
  display: none;
}

.fecha-emision {
  height: 72px;
  position: relative;
  top: 20px;
}

.currency-text {
  align-self: center;
  color: #BDBDBD;
}

.quote-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 33px;
}

.quote-results-item {
  width: 355px;
  height: 228px;
  margin: 10px;
}

.quote-results-buttons {
  display: flex;
  justify-content: flex-end;
}

.bank-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 87px;
  padding: 4px;
}

.bank-img-tag {
  max-height: 87px;
}

.bank-description-text {
  padding: 0 16px 0 16px;
}
